body{
    background: url(../img/fondo.jpg) center top;
   background-repeat: no-repeat;
   background-size: 1400px 900px;
    text-align: center;

}
.fondo{
    background: url(../img/fondo2.jpg) center top;
   background-repeat: no-repeat;
   background-size: 1400px 700px;
    text-align: center;

}
.titulo{
    color:white;
    font-family: "Consolas",monospace;
    font-size: 30px;
    -webkit-text-stroke:2px black;
}
.tituloPrincipal{
    color:white;
    font-family: "Consolas",monospace;
    font-size: 25px;
     position: absolute;
    top: 20%;
    left: 50%;
    -webkit-text-stroke:2px black;
}

.sub-titulo{
    color:#330907;
    font-family: "Consolas",monospace;
    font-size: 15px;
}
.text-concept{
    color:black;
    font-family: "Consolas", monospace;;
    position: absolute;
    left: 26%;
    right: 2%;
}
.text-subTitule{
    color:black;
    font-family: "Consolas", monospace;;
}
.img-portada{
    height: 250px;
    width: 400px;
}
.img-ayuda{
    padding: 5px;
     margin: 18px; 
     border: 2px solid black; 
     float: left; 
     width: 230px;
}

.button[type="button"]{
    border-color: black;
    height: 40px;
    width: 180px;
    background: #fffba5;
    font-size: 18px;
    border-radius: 10px;
  }
  .button[type="button"]:hover {
    cursor: pointer;
    background: #FFCC80 ;
  }
.TextArea{
  width: 420px;
  height: 150px;
  padding: 12px 20px;
  border: 2px solid red;
  border-radius: 10px;
  font-size: 16px;
  margin: 10px;
}


#dos{
    display: none;
}
#tres{
    display: none;
}

